<article class="article">
  <div class="container">
    <div class="article__inner">
      <!-- <section class="article__section">
        <h2 class="article__title">
          <svg class="article__icon" width="15" height="15">
            <use href="./images/img-icon.svg#icon-book"></use>
          </svg>
          Чому Україна втратила свою суб'єктивність у 2004 році? Які перспективи
          Пост-воєнної Пошти України?
        </h2>
        <p class="article__text cut-text">
          <svg class="article__icon" width="15" height="15">
            <use href="./images/img-icon.svg#icon-leaf"></use>
          </svg>
          Логічна війна не може виграти Росію (1,5% ВВП проти 60%). Але чому не
          є тотальна поразка терористичної країни? Змова між провідними країнами
          Європи (Німеччина та Франція) та Росією. У Росії є все необхідне для
          Європи, а Європа має все, що потрібно Росії.
        </p>
      </section>
      <section class="article__section">
        <h2 class="article__title">
          <svg class="article__icon" width="15" height="15">
            <use href="./images/img-icon.svg#icon-book"></use>
          </svg>
          Чому Україна втратила свою суб'єктивність у 2004 році? Які перспективи
          Пост-воєнної Пошти України?
        </h2>
        <p class="article__text cut-text">
          <svg class="article__icon" width="15" height="15">
            <use href="./images/img-icon.svg#icon-leaf"></use>
          </svg>
          Логічна війна не може виграти Росію (1,5% ВВП проти 60%). Але чому не
          є тотальна поразка терористичної країни? Змова між провідними країнами
          Європи (Німеччина та Франція) та Росією. У Росії є все необхідне для
          Європи, а Європа має все, що потрібно Росії.
        </p>
      </section>
      <section class="article__section">
        <h2 class="article__title">
          <svg class="article__icon" width="15" height="15">
            <use href="./images/img-icon.svg#icon-book"></use>
          </svg>
          Чому Україна втратила свою суб'єктивність у 2004 році? Які перспективи
          Пост-воєнної Пошти України?
        </h2>
        <p class="article__text cut-text">
          <svg class="article__icon" width="15" height="15">
            <use href="./images/img-icon.svg#icon-leaf"></use>
          </svg>
          Логічна війна не може виграти Росію (1,5% ВВП проти 60%). Але чому не
          є тотальна поразка терористичної країни? Змова між провідними країнами
          Європи (Німеччина та Франція) та Росією. У Росії є все необхідне для
          Європи, а Європа має все, що потрібно Росії.
        </p>
      </section>
      <section class="article__section">
        <h2 class="article__title">
          <svg class="article__icon" width="15" height="15">
            <use href="./images/img-icon.svg#icon-book"></use>
          </svg>
          Чому Україна втратила свою суб'єктивність у 2004 році? Які перспективи
          Пост-воєнної Пошти України?
        </h2>
        <p class="article__text cut-text">
          <svg class="article__icon" width="15" height="15">
            <use href="./images/img-icon.svg#icon-leaf"></use>
          </svg>
          Логічна війна не може виграти Росію (1,5% ВВП проти 60%). Але чому не
          є тотальна поразка терористичної країни? Змова між провідними країнами
          Європи (Німеччина та Франція) та Росією. У Росії є все необхідне для
          Європи, а Європа має все, що потрібно Росії.
        </p>
      </section> -->
    </div>
  </div>
</article>
