.article {
    min-height: calc(100vh - 250px);

    &__inner {
        display: flex;
        flex-wrap: wrap;
    }
    &__section {
        padding: 10px;
        border-radius: 10px;
        background-color: white;
        margin-bottom: 15px;
        border: 2px solid transparent;
        
        transition-property: box-shadow, border;
        transition-duration: 250ms;
        transition-timing-function: linear;

        @media screen and (min-width: 768px) {
            margin: calc(10px / 2);
            flex-basis: calc(100% / 2 - 10px);
        }
    
        @media screen and (min-width: 1280px) {
            margin: calc(10px / 2);
            flex-basis: calc(100% / 3 - 10px);
        }
    }
    
    &__section:hover {
        cursor: pointer;
        border: 2px solid #C3073F;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
    &__title {
        font-size: 16px;
        margin-bottom: 5px;
    }
    &__icon {
        transition: fill 250ms linear;
    }
    &__section:hover &__icon {
        fill: #C3073F;
    }
     
    &__text {
        font-size: 14px;
    }
}