.footer {
    background-color: #6F2232;
    color: white;
    font-size: 12px;

    &__inner {
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}