.header {
    // background-color: #05386B;
    // background-color: #2F2FA2;
    // margin-bottom: 15px;
    // border-bottom: 2px solid #05386B;

    &__inner {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__logo {
        font-family: 'Rubik 80s Fade', cursive;
        font-size: 18px;
        padding: 10px 0;
        color: #C3073F;
        cursor: default;
        @media screen and (min-width: 768px) {
            font-size: 24px; 
        }
    }

    &__selected {
        color: white;
        background-color: transparent;
        border: 2px solid #C3073F;
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        border-radius: 5px;
        outline: none;
        @media screen and (min-width: 768px) {
            font-size: 16px; 
        }
    }
    &__selected:hover {
        background-color: #C3073F;
        cursor: pointer;
    }
    
}
